{% extends 'apli/base.html' %}

{% block head_title %} {{ title }} {% endblock head_title %}

{% block body %}
<h1 class='container'>  <p>  NEW TASK </p> </h1>

{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}

<form class='container' method='POST'> {% csrf_token %}
	{{ form.as_p }}
	<button type='submit' class="btn btn-success btn-md" >Save</button> 
	<a href="{{request.META.HTTP_REFERER}}" <button type="button" class="btn btn-warning btn-md" data-dismiss="modal" >Stornieren</a>
<!-- btn btn-warning btn-md pull-right -->
</form>
{% endblock %}