{% extends 'apli/base.html' %}
{% block title %}Time{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			    <p><h1 class="container "> Zeit im Projekt benutzt </h1></p>
			    <br>
				<div class="">
					<div class="panel-body container">

						<form class="form-horizontal container" action="" method="post" enctype="multipart/form-data">
							
							{% include 'apli/form-template.html' %}

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}